body{
    font-family: Arial, Helvetica, sans-serif;
     display: flex;
     justify-content: center;
}
.butt1{

}
.wow{
    font-size: 23px
}
.him{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: rgb(94, 79, 79)
}
.boo{
    border: 0px solid rgb(73, 68, 68);
    border-radius : 4px;
    background-color: rgb(2, 2, 20);
  
}
.main{
    border: 0px solid black;
    border-radius: 7px;
    background-color: rgb(248, 245, 156);
}
.num{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: px;
    font-size: 90px;
    color: rgb(3, 209, 3);
}
.butt1 {
    margin : 7px;
    height: 50px;
    border: 0px solid rgb(253, 57, 57);
    margin-bottom: 20px;
    background-color: rgb(31, 165, 218);
    width : 120px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 900;
}
.colory{
  height: 150px;
  width: 150px;
  border-radius: 4px;;
  transition: 0.6s ease;
}
.pum{
    font-size: 18px;


}